<launch>
      <node pkg="bridge_px4" type="gcs.py" name ="gcs" output="screen">
            <param name="traj_name" value="swing_sinusoid.csv"/>
            <!-- <param name="traj_name" value="kick_1s_005sq.csv"/> -->
            <!-- <param name="traj_name" value="kick.csv"/> -->
            <!-- <param name="traj_name" value="easier_swingup.csv"/> -->
            <!-- <param name="traj_name" value="EE_fig8_10s_ramp_motionplan.csv"/> -->
            <!-- <param name="traj_name" value="EE_fig8_4s_ramp_OLref.csv"/> -->
            <!-- <param name="traj_name" value="EE_fig8_6s_ramp_OLref_1ksteps.csv"/> -->
            <!-- <param name="traj_name" value="clear_obstacle_5s_zpk0-7_ceil1-65.csv"/> -->
            <!-- <param name="traj_name" value="sysIDlong.csv"/> -->
            <!-- <param name="traj_name" value="sinusoids_10s.csv"/> -->
            <param name="hold" value="3"/>
            <param name="laps" value="1"/>
      </node>

      <node pkg="rosbag" type="record" name="rosbag_record_gcs"
            args="/drone5/mavros/vision_pose/pose 
                  /drone5/mavros/local_position/pose
                  /drone5/mavros/setpoint_position/local
                  /drone5/setpoint/position
                  /drone5/setpoint/attitude
                  /vrpn_client_node/tip/pose
                  /drone5/mavros/imu/data
                  /gcs/setpoint/position
                  /gcs/setpoint/attitude"/>
</launch>